* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.progressbar {
  width: 0%;
  height: 11px;
  background: linear-gradient(
    rgba(110, 37, 37, 0.7),
    rgba(36, 105, 6, 0.655),
    rgba(233, 15, 226, 0.5)
  );
  border-radius: 10px;

  max-width: 100%;
  border-radius: 10px;
}
